body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

.hero {
    display: flex;
}

.hero-box {
    width: 50%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.about-us {
    text-decoration: none;
    background: purple;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

